header{
  align-items: center;
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 20vh;
}

.banner{
  height: 27.5vh;
  margin: 9.4vh;
  width: 27.5vh;
}

.icono-whatsapp{
  bottom: 1.8vh;
  right: 2.8vh;
  width: 7.5vh;
}

.icono-facebook{
  position: static left;
  width: 7.5vh;
}

.icono-instagram{
  position: static left;
  width: 7.5vh;
}

.icono-youtube{
  position: static left;
  width: 7.5vh;
}

.divflex{
   display: flex;
   justify-content: space-around;
   flex-wrap: nowrap;
}

.flexitem{
    color: lightblue;
    font-size: 2em;
    text-align: center;
    margin: 20px;
}


nav a:hover{
    color: #c78c19;
}

body{
  background-color: #fdfdfd;
}

#subtitulo{
  color: lightblue;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  padding: 15px;
}

#subtitulo:hover{
    color: #c78c19;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align:top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:active{
    border-color: #088c19;
}
.productos h2{
    font-size:30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: black;
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display:block;
    font-size: 20px;
    margin: 0 0;
}
.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 10px 0;
    font-size: 18px;
    font-weight:bold;
    color: white;
    background: orange;
    border:none;
    border-radius:5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background-color:#555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

.icono{
  position: static left;
  width: 40px;
}
