body{
  background-color: #C70039;
}

.banner{
  height: 145px;
  margin: 50px;
  width: 145px;
}

header{
  align-items: center;
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 20vh;
}

.titulo{
  color: darkgrey;
  font-family: monospace;
  font-size: 50px;
  margin: 50px;
  text-align: center;
  text-decoration:underline;
}

.icono-whatsapp{
  bottom: 10px;
  right: 15px;
  width: 40px;
}

.icono-facebook{
  position: static left;
  width: 40px;
}

.icono-instagram{
  position: static left;
  width: 40px;
}

.icono-youtube{
  position: static left;
  width: 40px;
}

.sectionflex{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  padding: 15px;
  width: 50%;
}


#descripcion{
  font-family: Pacifico,cursive;
  font-size: 20px;
  text-align: center;
}

#utencillos{
  color: blue;
  font-family: fantasy;
  font-size: 18px;
}
#pasos{
  color: grey;
  font-family: serif;
  font-size: 11px;
  text-align: left;
}

footer{
  align-items: center;
  background-color: black;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  min-height: 20vh;
  justify-content: space-between;
  text-align: center;
  padding: 10px 10px;
}

h3{
  font-size: 13px;
}
