body{
  background-color: #C70039;
}

.banner{
  height: 27.5vh;
  margin: 9.4vh;
  width: 27.5vh;
}

header{
  align-items: center;
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 20vh;
}

.titulo{
  color: darkgrey;
  font-family: monospace;
  font-size: 50px;
  margin: 50px;
  text-align: center;
  text-decoration:underline;
}

.icono-whatsapp{
  bottom: 1.8vh;
  right: 2.8vh;
  width: 7.5vh;
}

.icono-facebook{
  position: static left;
  width: 7.5vh;
}

.icono-instagram{
  position: static left;
  width: 7.5vh;
}

.icono-youtube{
  position: static left;
  width: 7.5vh;
}

.sectionflex{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  padding: 15px;
  width: 50%;
}

#subtitulo{
  color: lightblue;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  padding: 15px;
}

#subtitulo:hover{
  color: #c78c19;
}

#descripcion{
  font-family: Pacifico,cursive;
  text-align: center;
}


footer{
  align-items: center;
  background-color: black;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  min-height: 20vh;
  justify-content: space-between;
  text-align: center;
  padding: 10px 10px;
}

h3{
  font-size: 13px;
}
